/* Halaman Error */
.konten {
	margin-right: 20px;
	text-align: center;
	color: #000
}
.kembali {
	color: #000
}

.ireng {
	color: black
}

.paragraf {
	padding: 10px 50px;
}

.biru{
	background-color: #1496ed;
}